.module_wrapper
{
    background-color: antiquewhite;
    max-height: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.logout
{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}
.dashboard
{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}